/* Base styles */
.navbar {
    background-color: #ffffff00;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1000;
    width: 90%;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
}
.logo img {
    height: 60px;
    margin-right: 10px;
}
.nav-links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
}
.nav-links a, .auth-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #555;
    font-size: 1rem;
}
.nav-links a:hover, .auth-links a:hover {
    color: #000;
}
.auth-links .signup {
    background-color: #10a37f;
    color: white;
    padding: 10px 10px;
    border-radius: 4px;
}
.auth-links .signup:hover {
    background-color: #ffffff;
    color: #10a37f;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background: none;
    border: none;
    color: #555;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.mobile-menu {
    display: none;
}
.mobile-nav {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 999;
}
.mobile-nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #555;
    border-bottom: 1px solid #ddd;
}
.mobile-nav .signup {
    background-color: #f44336;
    color: white;
    border-radius: 0;
}
.show {
    display: flex;
}

/* Media Queries */
@media (max-width: 768px) {
    .nav-links, .auth-links {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
    .mobile-nav a:hover {
        background-color: #f1f1f1;
    }
}
