body, html {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f0f0f5, #dbf3fa);
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 95%;
    max-width: 70%;
    margin: 20px auto;
    background-color: #ffffff00;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    overflow: hidden;
}

.section {
    margin-bottom: 20px;
}

.profile-img-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    overflow: hidden;
    margin: 20px auto;
    position: relative;
    border: 5px solid #a2e5d7;
}

.profile-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.profile-img-wrapper:hover .change-pic {
    display: block;
}

.change-pic {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
}

input[type='file'] {
    display: none;
}

.input-group, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #10a37f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0e856c;
    transform: scale(1.05);
}

.icon-input {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.balance {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 20px 0;
}
.point{
    margin: auto 5px;
}
.balance-icon {
    font-size: 1.5rem;
    color: #10a37f;
    margin-right: 10px;
}

.social-links {
    display: flex;
    flex-direction: column;
}

.social-links h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.withdraw-btn {
    display: inline-block;
    background-color: #10a37f;
    color: white;
    width: 96%;
    max-width: 100%;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.withdraw-btn:hover {
    background-color: #0e856c;
    transform: scale(1.05);
}
.token{
    height: 40px;
    width: 40px;
    margin: auto 6px;
}