body, html {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f0f0f5, #dbf3fa);
   
    height: 100%;
}

.container {
    width: 95%;
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    overflow: hidden;
}

h1 {
    font-size: 2rem;
    margin: 10px 10%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin: 10px 10%;
}

input[type='text'], input[type='number'], select {
    width: 80%;
    padding: 10px;
    margin: 10px 10%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    display: block;
    width: 80%;
    padding: 10px;
    background-color: #10a37f;
    color: white;
    font-size: 1rem;
    border: none;
    margin: 10px 10%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0e856c;
    transform: scale(1.05);
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #10a37f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
