<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="balance">
            <img class="token"src="{{ url_for('static', filename='images/btt.svg') }}" alt="Hamro PDF Logo">

            Available Balance  <strong class="point"> {{ user.points }} BTT</strong>
        </div>

        <form action="{{ url_for('update_profile') }}" method="post" enctype="multipart/form-data">
            <div class="section profile-section">
                <div class="profile-img-wrapper">
                    <img src="{{ user.profile_image_url }}" alt="Profile Image" class="profile-img">
                    <label for="profile_pic" class="change-pic">Change Picture</label>
                </div>
                <input type="file" name="profile_pic" id="profile_pic">
            </div>
            <div class="section details-section">
                <input type="text" name="name" placeholder="Full Name" value="{{ user.name }}" class="input-group">
                <input type="email" name="email" placeholder="Email" value="{{ user.email }}" class="input-group">
                <input type="text" name="phone" placeholder="Phone" value="{{ user.phone }}" class="input-group">
                <input type="text" name="address" placeholder="Address" value="{{ user.address }}" class="input-group">
                <button type="submit">Save Changes</button>
                        <a href="{{ url_for('withdraw.withdraw') }}" class="withdraw-btn">Withdraw</a>

            </div>
            <div class="section social-links">
                <h2>Social Links</h2>
                <div class="icon-input">
                    <i class="fa-brands fa-github icon"></i>
                    <input type="text" name="github" placeholder="GitHub" value="{{ user.github }}" class="input-group">
                </div>
                <div class="icon-input">
                    <i class="fa-brands fa-twitter icon"></i>
                    <input type="text" name="twitter" placeholder="Twitter" value="{{ user.twitter }}" class="input-group">
                </div>
                <div class="icon-input">
                    <i class="fa-brands fa-instagram icon"></i>
                    <input type="text" name="instagram" placeholder="Instagram" value="{{ user.instagram }}" class="input-group">
                </div>
                <div class="icon-input">
                    <i class="fa-brands fa-facebook icon"></i>
                    <input type="text" name="facebook" placeholder="Facebook" value="{{ user.facebook }}" class="input-group">
                </div>
            </div>
        </form>
    </div>
</body>
</html>
